.btn {
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  padding: 6px 12px;
  font-size: 1.1rem;
  border-radius: 3px;
  border: 1px solid transparent;
  text-decoration: none;
  user-select: none;
  margin-top: 0.5rem;
}

.btn:hover,
.btn:focus,
.btn.focus {
  text-decoration: none;
  color: #fff;
}

.btn--sm {
  padding: 4px 8px;
  font-size: 1rem;
}

.btn--lg {
  padding: 8px 16px;
  font-size: 1.5rem;
}

.btn--success {
  color: #e8f5e9;
  border-color: #43a047;
  background: linear-gradient(to bottom, #81c784 0%, #66bb6a 100%);
  box-shadow: inset 0 1px #c8e6c9, 0 1px 2px rgba(0, 0, 0, 0.2);
}

.btn--success:hover,
.btn--success:focus,
.btn--success.focus {
  border-color: #66bb6a;
  background: linear-gradient(to bottom, #a5d6a7 0%, #81c784 100%);
  box-shadow: inset 0 1px #e8f5e9, 0 2px 3px rgba(0, 0, 0, 0.2);
}

.btn--startGame {
  background-color: rgb(88, 177, 218);
  padding: 2em;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -5em;
  margin-top: -8em;
  text-align: center;
  line-height: 2.3em;
  border: 0.25em dashed darkcyan;
}

.btn--warning {
  color: #fff3e0;
  border-color: #fb8c00;
  background: linear-gradient(to bottom, #ffb74d 0%, #ffa726 100%);
  box-shadow: inset 0 1px #ffe0b2, 0 1px 2px rgba(0, 0, 0, 0.2);
}

.btn--warning:hover,
.btn--warning:focus,
.btn--warning.focus {
  border-color: #ffa726;
  background: linear-gradient(to bottom, #ffcc80 0%, #ffb74d 100%);
  box-shadow: inset 0 1px #fff3e0, 0 2px 3px rgba(0, 0, 0, 0.2);
}
