.game {
  display: flex;
  flex-direction: column;
  flex: 7;
}

img {
  width: 50em;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.header {
  width: 100%;
  min-height: 100px;
}

.gamePlay {
  position: relative;
  flex: 10;
}

.btn--startGame {
  padding: 2em;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -5em;
  margin-top: -8em;
  line-height: 2.3em;
  border: 0.25em dashed darkcyan;
}

.entryForm {
  background-color: #b94704;
  padding: 30px 40px;
  border: 5px solid #f3af3b;
  border-radius: 8px;
  margin: 10em auto;
  width: 60%;
  box-shadow: inset 0 1px #fef1db, 0 2px 3px rgba(0, 0, 0, 0.2);
}

.entryForm_dropdown {
  margin: 10px 0 0 0;
}

.entryForm_dropdown:hover {
  border: 4px solid #f3af3b;
}

.round_team_name {
  margin-block-end: 0.25em;
  color: #f3af3b;
  font-weight: bold;
}

.round_header {
  color: #f3af3b;
}
