.team {
  display: flex;
  justify-content: space-evenly;
}

.team_columnHeader {
  flex: 1;
  margin-block-start: 0;
  margin-block-end: 0.5em;
}

.team_column {
  flex: 1;
}

.team_name {
  flex: 5;
}

.team_playerCount {
  flex: 2;
  text-align: center;
}

.team_score {
  text-align: center;
}
