@import url("buttons.css");
@import url("leaderboard.css");
@import url("leftpanel.css");
@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body,
button,
input,
select,
textarea {
  color: #404040;
  font-family: "Comfortaa", Arial, sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0.5rem 0;
  border: 0;
}

input,
select,
textarea {
  display: block;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

.bannerImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  width: 100%;
  height: 100%;
}

.game {
  display: flex;
  flex-direction: column;
  flex: 7;
}

.gamePlay {
  position: relative;
  flex: 10;
}
